.showCardsBox{
 display: flex;
}

.cards{
    width: 100px;
    height: 36px;

    line-height: 36px;

    background-color: white;
    border: 1px solid #757575;
    border-radius: 5px;
}

.activeCards{
    color:white;

    background-color: #1976d2;
}

.label {
    margin-bottom: 8px;

    font-weight: 500;
}

.showCardsContainer .label{
    text-align: left;
}