.pactTableWrapper {
  width: 1008px;
  height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 35px;

  background: #ffffff;
  border-radius: 2px;
  /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);*/
}
.tableRow {
  width: 90%;
  height: 48px;

  background: #dedede;
}
.buttonFilter {
  text-decoration: none;

  border: none;
}
