.conteiner {
    width: 500px;
    height: 500px;
    margin: 30px auto;

    border: black solid 1px;
}

.title {

}

.discription {

}

.error {
    color: red;
}

.eye {
    margin-left: -20px;

    font-size: 90%;
}
