.conteiner {
  width: 413px;
  height: 552px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 35px;

  background: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.discription {
}

.error {
  color: red;
}

.eye {
  margin-left: -20px;

  font-size: 90%;
}
