.packsListContainer {
    margin: 0 auto;
    padding: 30px;
}

.upper{
    display: flex;
    justify-content: space-between;

    padding: 30px;

}

.settingsContainer{
    display: flex;
    justify-content: space-around;
}

.label{
    font-size: 22px;
    font-weight: 600;
}
.button {
    width: 175px;
    height: 36px;

    font-size: 16px;
    font-weight: 500;
    color: white;

    background-color: #366EFF;
    border: none;
    border-radius: 15px;
}
