.headerBlockNameAndAva{
 display: flex;
}

.name {
 min-width: 36px;
 height: 36px;
 margin-right: 10px;

 line-height: 45px;
}

.blockBasicMenu img{
 width: 36px;
 height: 36px;

 border-radius: 50%;
}

